<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Go To</string>
	<key>CFBundleExecutable</key>
	<string>GoTo</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>local.goto.GoTo</string>
	<key>CFBundleName</key>
	<string>GoTo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>local.goto.GoTo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>goto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Go To controls Finder to reveal and select the item you searched for.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Go To indexes your Desktop so you can find items there.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Go To indexes your Documents so you can find items there.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Go To indexes your Downloads so you can find items there.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Go To indexes folders you add on network volumes.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Go To indexes folders you add on removable volumes.</string>
</dict>
</plist>
